Intelligent_Reporting_Pizza_Analysis_Project_Code_Blocks_as_text.txt 
Pizza_Sales_Analysis_Full_Code.ipynb 
Pizza_Sales_Analysis_Low_Code.ipynb 
Pizza_Sales_Analysis_Presentationpptx.pptx 
Pizza_Sales_Analysis_Presentationpptx.docx 
Pizza_Sales_Analysis_Presentationpptx.pdf 
